<%= render 'shared/navbar' %>


<div>
  <h1 class="font-bold text-4xl">About Page</h1>
  <div>
    <% if @about %>
      <h1><%= @about.title %></h1>
      <p><%= @about.content %></p>
    <% else %>
      <p>No content added yet</p>
    <% end %>
  </div>
</div>