<%= render 'shared/navbar' %>

<div>
  <h1 class="font-bold text-4xl">Contact Page</h1>
  <div>
  <% if @contact %>
  <h1><%= @contact.title %></h1>
  <p><%= @contact.content %></p>
    <% else %>
      <p>No content added yet</p>
    <% end %>
</div>
</div>
  
